{% extends 'base.html' %}
{% load static %}

{% block start %}
<br>
<h1 class="ab max-width-1 m-auto"> Our Story</h1>
<br>
    <p class="max-width-1 m-auto"> Our Missions is to build a community of conscious people who stop wasting their time on addictive website. Gain freedom from the binge loop, and consume quality content tailed to hellp you grow in your life and career. Here, no AI will track your habits to suggest you the most addictive content. Here, you will get what you want, neither less nor more. We respect your privacy. Hence,we do not collect your data. JOIN the community of motivated people, who, instead of being being consumers of ADs today, will grow to become leaders of tomorrow. <b>WE ARE LEGION. WE ARE BIRDS. WE ARE REVOLUTION</b> </p>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>

  
{% endblock start %}