{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "blog/css/style.css"%}">
    <link rel="stylesheet" href="{% static "blog/css/utils.css"%}">
    <link rel="stylesheet" href="{% static "blog/css/blog.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "blog/css/card.css"%}">

    <link rel="stylesheet" href="{% static "blog/css/contact.css"%}">
    <link rel="icon" type="image/x-icon" href="{% static "blog/img/favicon.ico"%}">

    <title>LEGION of Birds</title>
</head>

<body>
    <nav class="navigation max-width-1 m-auto">

        <div class="left"><a href="/"><div class="logo23"><img src="{% static 'blog/img/logo.png' %}" height="100px" width="100px" alt=""><span id="logo">LEGION of Birds</Span></a></div>
            <ul class="menu">
                <a href="/" class="home">
                    <li class="home">Home</li>
                </a>
                <a href="{% url 'about_view' %}" class="abou">
                    <li class="about">About</li>
                </a>
                <a href="{% url 'contact_url' %}" class="contact">
                    <li class="contact">Contact</li>
                </a>
            </ul>
        </div>
        <div class="right">
            <form class ="add_your_class" method="GET" action=""><input class="form_control add_your_class" type="search" placeholder="Article Search" name="search">
            <button class="btn add_your_class" formaction	="{% url 'search' %}" >Search</button>
        </form>

        </div>

    </nav>
{% block start %}{% endblock start %} 
    <div class="footer">
        <p>©Copywrite Protected </p>
        <div class="social">
           <a href=""><img src="{% static 'blog/img/youtube.png' %}" alt="Youtube"></a>
           <a href=""><img src="{% static 'blog/img/face.png'%}" alt="Facebook"></a>
           <a href=""><img src="{% static 'blog/img/insta.png'%}" alt="Instagram"></a>
           <a href=""><img src="{% static 'blog/img/twi.png'%}" alt="Twitter"></a>
           <a href=""><img src="{% static 'blog/img/lin.png'%}" alt="Linkedin"></a>
           <a href=""><img src="{% static 'blog/img/pin.png'%}" alt="Pininterest"></a>
        </div>
    </div>
</body>
</html>