{% extends 'base.html' %}
{% load static %}
{% block start %}


<div class="cardsss max-width-1 m-auto">

{% for blog in all_search_results %}
<a class="anchor_card" href="{%url "blog_detail" blog.slug%}">
    <div class="card cc123" style="width: 18rem;">
      <img class="card-img-top anchor_img" src="media/{{ blog.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
       
        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
      </div>
    </div>
  </a>
{% empty %}
<h1 class="ss max-width-1 m-auto">Sorry! No Matching Results. Please Try Something Else...</h1>
<br><br>
<br>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>


{% endfor %}

</div>
<br>
<br><br>
<br>
{% endblock start %}